html, body, .container-table {
    height: 100%;
    background-color: #72CCDA;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

.orange{
	background:#ffab62;
}

*{
    font-family: "Comic Sans MS", bold,cursive, sans-serif;	
}

.btn-lucka{

}

.btn-lucka .hover{

}
